body {
    display: flex;
    flex-direction: row;
}

.controls {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 3px;
}

#clearCanvas {
    margin-top: 50px;
}
